* {
    margin: 0;
}

html {
    font-size: 1px;
}

body {
    background-color: #8dc63f;
    font-family: "Arial";
    font-size: 14rem;
}

.wrapper {
    padding: 15rem 15rem 0;
    max-width: 960px;
    margin: auto;
    background-color: #fff;
}

.header {
    margin-bottom: 25rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

a {
    transition: 0.3s;
}

a:hover {
    transform: scale(1.1);
}




.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20rem;
}


.football {
    font-size: 22rem;
    color: #39930d;
}

.manager {
    font-size: 44rem;
    color: #39930d;
}

.official {
    color: #5a5a5a;
    margin-bottom: 15px;
}

.ball img {
    width: 80%;
    height: 80%;
}

.contacts a {
    font-size: 22rem;
    color: #39930d;
    text-decoration: none;
}

.contacts i {
    color: #5a5a5a;
}

.tel a {
    display: inline-block;
    margin-bottom: 15rem;
}

.main {
    margin-bottom: 45rem;
}

.main-picture img {
    margin-bottom: 25px;
    object-fit: cover;
    height: 200rem;
    object-position: 70%;
    width: 100%;
}

.about h1 {
    margin-bottom: 15px;
    font-size: 22rem;
    color: #39930d;
    font-weight: bold;
}

.about p {
    color: #343434;
}

.partners {
    margin-bottom: 10rem;
}

.partners p {
    padding: 15px 20px;
    font-size: 18rem;
    color: #fff;
    background-color: #39930d;
}

.partners a {
    display: block;
    padding: 5px 20px;
    text-decoration: underline;
    text-transform: uppercase;
    color: #39930d;
}

.partners ul {
    padding: 10px 0;
    list-style: none;
}

.footer {
    background-color: #39930d;
    margin: 0 -15rem;
}

.footer p {
    padding: 15rem;
}

.copy {
    color: #fff;
}


@media screen and (min-width: 768px) {
    .contacts {
        text-align: right;
    }

    .main-content {
        display: flex;
        justify-content: space-between;
    }

    .about {
        width: 60%;
    }

    .partners {
        width: 35%;
    }
}

