* {
    margin: 0;
}

html {
    font-size: 1px;
}

body {
    background-color: #8dc63f;
    font-family: "Arial";
    font-size: 14rem;
}

.wrapper {
    padding: 15rem 15rem 0;
    width: 90%;
    margin: auto;
    background-color: #fff;
}

.header {
    margin-bottom: 25rem;
}

.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20rem;
}


.football {
    font-size: 22rem;
    color: #39930d;
}

.manager {
    font-size: 44rem;
    color: #39930d;
}

.official {
    color: #5a5a5a;
}

.ball img {
    width: 70%;
    height: 70%;
}

.contacts a {
    font-size: 22rem;
    color: #39930d;
    text-decoration: none;
}

.contacts i {
    color: #5a5a5a;
}

.tel {
    margin-bottom: 15rem;
}

.main {
    margin-bottom: 45rem;
}

.main-picture img {
    margin-bottom: 25px;
    object-fit: cover;
    height: 200rem;
    object-position: 70%;
    width: 100%;
}

.about {
    margin-bottom: 30rem;
}

.about h1 {
    margin-bottom: 15px;
    font-size: 22rem;
    color: #39930d;
    font-weight: bold;
}

.about p {
    color: #343434;
}

.partners {
    margin-bottom: 10rem;
}

.partners p {
    padding: 5px 15px;
    font-size: 18rem;
    color: #fff;
    background-color: #39930d;
}

.partners a {
    display: block;
    padding: 5px 20px;
    text-decoration: underline;
    text-transform: uppercase;
    color: #39930d;
}

.partners ul {
    padding: 10px 0;
    list-style: none;
}

.footer {
    background-color: #39930d;
    margin: 0 -15rem;
}

.footer p {
    padding: 15rem;
}

.copy {
    color: #fff;
}


@media (min-width: 768px) {

    .header {
        display: flex;
        justify-content: space-between;
    }

    .contacts {
        text-align: right;
    }

    .main-content {
        display: flex;
        justify-content: space-between;
    }

    .about {
        width: 60%;
    }

    .partners {
        width: 35%;
    }
}

/* @media screen and (min-width: 1440px) {
    body {
        width: 960px;
    }
} */
